* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background: #222;
  display: flex;
}
.card {
  /* display: flex; */
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 40px auto 0;
  text-align: center;
  padding: 10px 35px;
  border-radius: 20px;
  margin-bottom: 40px;
  height: auto;
}
.header h1{
    text-align: center;
    font-weight: 600;
    /* margin-top: 15px; */
    padding: 20px;
    color: #fff;
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search input {
  border: 0;
  outline: 0;
  background: #fff;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  margin-right: 16px;
  font-size: 18px;
  flex: 1;
}
.search button {
  border: 0;
  outline: 0;
  background: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  /* align-items: center;
    justify-content: center; */
  cursor: pointer;
}
.search button img {
  width: 16px;
}
.weather-icon {
  width: 170px;
  margin-top: 30px;
}
.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0px;
  margin: 50px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;
}
.humidity,
.wind {
  font-size: 28px;
  margin: -6px;
  padding: 5px;
}
.weather {
  display: none;
}
.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 8px;
  display: none;
}
.status {
  display: none;
}
